# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Documents
*.md text diff=markdown
*.txt text
*.pdf binary

# Scripts
*.sh text eol=lf
*.py text diff=python
*.yml text
*.yaml text

# Git Config
.gitattributes text
.gitignore text
.gitconfig text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.tar binary
*.gz binary

# Git LFS
*.iso filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
