[mysqld]
max_connections = {{ mysql_config.max_connections }}
innodb_buffer_pool_size = {{ mysql_config.innodb_buffer_pool_size }}
query_cache_size = {{ mysql_config.query_cache_size }}
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 1
